/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-platinum: #ebebeb;
    --color-grey: #949494;
    --color-blue-purple: #acb9ec;
    --color-middle-blue-green: #9ce7de;
    --color-jet: #333333;
    --color-black: #000000;
    --color-charm-pink: #e58ba3;
  
    /* Font Size */
    --font-large: 40px;
    --font-medium: 22px;
    --font-regular: 15px;
    --font-small: 12px;
    --font-micro: 10px;
  
    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Border Size */
    --size-border-radius: 4px;
  
    /* Animation Duration */
    --animation-duration: 350ms;
  }
  
  /* Universal */
  
  body {
    background: var(--color-platinum);
    padding-top: 5px;
    margin: 0px;
    font-family: "Audiowide", sans-serif;
    cursor: default;
  }

/* Navbar */
#Navbar {
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid var(--color-grey);
}

/* Navbar Logo */
  .navbar__logo {
    position: relative;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    margin: 0%;
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  /* Navbar Menu */
  .navbar__menu ul {
    display: flex;
    margin: 0%;
    list-style: none;
    padding-left: 0px;
  }

  .navbar__menu__item {
    position: relative;
    float: left;
    margin-right: 45px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    font-size: var(--font-small);
  }

  .navbar__menu__item:hover {
    transform: scale(1.3);
    animation-duration: var(--animation-duration);
  }
  
/* Ads */

#ads {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 800px;
  height: 300px;
  border-radius: var(--size-border-radius);
  overflow: hidden;
}
.ad {
  width: 500%;
  height: 300px;
  display: flex;
}

.ad input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 300px;
}

.navigation__manual {
  position: absolute;
  width: 800px;
  margin-top: -25px;
  display: flex;
  justify-content: center;
}

.manual__btn {
  border: 2px solid var(--color-blue-purple);
  padding: 5px;
  border-radius: var(--size-border-radius);
  cursor: pointer;
  transition: 1s;
}

.manual__btn:not(:last-child) {
  margin-right: 40px;
}

.manual__btn:hover {
  background-color: var(--color-middle-blue-green);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation__auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 275px;
}

.navigation__auto div {
  border: 2px solid var(--color-blue-purple);
  padding: 5px;
  border-radius: var(--size-border-radius);
  transition: 1s;
}

.navigation__auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation__auto .auto__btn1 {
  background: var(--color-blue-purple);
}

#radio2:checked ~ .navigation__auto .auto__btn2 {
  background: var(--color-blue-purple);
}

#radio3:checked ~ .navigation__auto .auto__btn3 {
  background: var(--color-blue-purple);
}

#radio4:checked ~ .navigation__auto .auto__btn4 {
  background: var(--color-blue-purple);
}

  /* Map */
  #Map {
    position: relative;
    display: flex;
    width: 50%;
  }

  .map__Container {
    margin-top: 62px;
    position: relative;
    display: flex;
  }


 