/* CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #888888;
    }

    .container {
    width: 400px;
    margin: 100px auto;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    }

    form {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px #ccc;
        margin-top: 50px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 10px;
        width: 100%;
        margin-top: 20px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        font-size: 18px;
        background-color: #0099ff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }